@charset "utf-8";

/* pc_header */
#header {display: flex;background: #ffffff;}
#header.scrollTop {background: transparent;}
#header .header_wrap {width: 1280px;margin: 0 auto;}
#header .header_wrap #logo {font-weight: 900;font-size: 3.5rem;line-height: 1em;}
#header .header_wrap .nav {}
#header .header_wrap .nav ul {}
#header .header_wrap .nav ul li {font-size: 1.5rem;}

/* section */
.section {padding: 64px 0;width: 1280px;margin: 0 auto;}
.blue_bg {background: #e9ebf7;}
.blue_gradiant_bg {background: linear-gradient(40deg, rgba(232,235,246,1) 0%, rgba(245,246,251,1) 100%);}
#titleSection {height: 800px;}
#titleSection.center_y_title {display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-orient: vertical;-moz-flex-direction: column;-ms-flex-direction: column;flex-direction: column;-webkit-box-pack: center;-moz-box-justify-content: center;-ms-flex-pack: center;justify-content: center;}
#titleSection .wave_text {position: relative;}
#titleSection .wave_text .words {font-size: 6rem;color: #e9ebf7;-webkit-text-stroke: 2px #222;font-weight: 900;position: absolute;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-ms-transform: translateY(-50%);text-transform: uppercase;}
#titleSection .wave_text .words:nth-child(1) {color: transparent;-webkit-text-stroke: 2px #6070DD;}
#titleSection .wave_text .words:nth-child(2) {color: #6070DD;animation: wave 2s ease-in-out infinite;}
/* @keyframes wave {
    0% {clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);}
    50% {clip-path: polygon(0 49%, 16% 56%, 33% 55%, 55% 50%, 75% 42%, 100% 40%, 100% 100%, 0% 100%);}
    100% {clip-path: polygon(0% 38%, 21% 40%, 38% 51%, 54% 57%, 75% 57%, 100% 52%, 100% 100%, 0% 100%);}
} */
@keyframes wave {
    0% { clip-path: polygon(0% 60%, 20% 50%, 40% 70%, 60% 40%, 80% 60%, 100% 50%, 100% 100%, 0% 100%); }
    50% { clip-path: polygon(0% 70%, 20% 60%, 40% 80%, 60% 50%, 80% 70%, 100% 60%, 100% 100%, 0% 100%); }
    100% { clip-path: polygon(0% 60%, 20% 50%, 40% 70%, 60% 40%, 80% 60%, 100% 50%, 100% 100%, 0% 100%); }
}

#skill {}
#skill h3 {font-size: 2rem;font-weight: 700;line-height: 1em;margin-bottom: 32px;}
#skill #skillWrap {}
#skill #skillWrap .skills:not(:last-child) {margin-right: 80px;}
#skill #skillWrap .skills h4 {font-size: 1.25rem;line-height: 1em;margin-bottom: 12px;}
#skill #skillWrap .skills .skill_chips {}
#skill #skillWrap .skills .skill_chips li.chip {background: #e9ebf7;font-size: 1rem;line-height: 40px;padding: 0 16px;margin-right: 16px;}

